.App {
    background: #f9fbfb;
    height: 100vh;
    width: 750px;
    margin: 0 auto;
    padding: 25px;
}

.App input[type='text'] {
    width: -webkit-fill-available;
    height: 25px;
}

.App button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}